$clr-dark-pastel-green: #01b636;
$clr-dark-permanent-geranium-lake: #e82727;
$clr-gold: #ffd700;
$clr-raisin-black: #25242a;
$clr-dark-raisin-black: #1c1b1e;
$clr-dark-banner-black: #1f1f1f;
$clr-white: #fff;
