@use "../../sass/global" as *;
@use "../../sass/global" as *;
@use "../../sass/responsive" as *;
.info-heading {
  text-align: center;
  margin: 0;
  text-decoration: underline;
}
.info-container {
  width: calc(100% - $margin-sm * 2);
  margin: $margin-sm auto;
  a {
    color: gray;
  }
  @include lg {
    width: 60%;
  }
}
