@use "../../sass//colors" as *;
@use "../../sass/global" as *;
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $clr-raisin-black;
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  &__list-item {
    padding: $padding-sm;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    &--active {
      @extend .nav__list-item;
      border-bottom: 2px solid $clr-white;
    }
  }
  &__link {
    color: $clr-white;
    text-decoration: none;
    text-align: center;
  }
}
