@use "../../sass/colors" as *;
@use "../../sass/global" as *;
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $clr-dark-banner-black;
  &__site-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $margin-sm;
    margin-top: $margin-sm;
  }
  &__title {
    font-size: 1.5rem;
    margin: 0;
  }
  &__image {
    width: calc($coin-radius-sm * 1.4);
    height: calc($coin-radius-sm * 1.4);
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  &__list-item {
    padding: $padding-sm;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    &--active {
      @extend .nav__list-item;
      border-bottom: 2px solid $clr-white;
    }
  }
  &__link {
    color: $clr-white;
    text-decoration: none;
    text-align: center;
  }
}
